.corpo{
   background-color: #f8f8f8;
}

.cabecalho{
   background-color: #8387d3;
   text-align: center;
   padding: 4.5%;
}

.titulo_cabecalho{
   font-size: 32px;
   font-family: 'nunito', sans-serif;
   font-weight: 700;
   color: #ffffff;
}

.secao_lista{
   margin: 5% auto;
   width: 35%;
   font-family: 'lato';
}

.secao_lista .container{
   display: flex;
   flex-direction: column;
   row-gap: 20px;
}

.formulario{
   display: flex;
}

.nova_tarefa_campo{
   width: 100%;
   height: 37px;
   border-radius: 4px 0 0 4px ;
   border: 1px solid #cccccc;
}

.nova_tarefa_campo:focus{
   outline: 1px solid #a7a7a7;
}

.bt_nova_tarefa{
   width: auto;
   background-color: #9c9ed0;
   color: #ffffff;
   font-weight: 700;
   font-family: 'nunito', sans-serif;
   border: 1px solid #808080;
   border-radius: 0 4px 4px 0;
}

.bt_nova_tarefa:hover{
   cursor: pointer;
   transform: scale(105%);
   transition: 250ms;
}

.lista_tarefas{
   box-shadow: 0px 3px 5px #808080b4;
   min-height: 50vh;
}

.item_tarefas{
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #c5c5c5;
   background-color: #ffffff;
   width: 100%;
   padding-left: 2%;
   border-radius: 2px;
   box-sizing: border-box;
   font-weight: 500;
   font-size: 16px;
   text-align: center;
}

.item_tarefas:hover{
   cursor: pointer;
}

.item_tarefas.checked .txt_tarefa{
   text-decoration: line-through;
   color: #a0a0a0;
   transition: 350ms;
   width: 55%;
}

.txt_tarefa::before{
   content: url('/Conteudo/check.svg');
   visibility: hidden;
}

.item_tarefas.checked .txt_tarefa::before{
   visibility: visible;
}

.txt_tarefa{
   display: flex;
   align-items: center;
   width: 50%;
}

.bt_fechar_item{
   font-size: 20px;
   color: #808080;
   height: 50px;
   padding: 0.3% 3%;
   display: flex;
   align-items: center;
}

.bt_fechar_item:hover{
   cursor: pointer;
   background-color: #f44336;
   color: #ffffff;
   transition: 250ms;
}

.item_tarefas.fechado{
   display: none;
}


.rodape{
   background-color: #8387d3;
   color: #ffffff;
}

.txt_rodape{
   color: #ffffff;
   text-align: center;
   font-size: 14px;
   font-family: 'nunito';
   padding: 0.5%;
   margin-top: 25%;
}

